/* main */
.wrapper .main {
  width              : (100% - 250px);
  margin-left        : 280px;
  padding            : 25px;
  /* background-color: #4267b2; */
  background-size    : cover;
}

.main .block {
  display        : flex;
  justify-content: space-between;
  align-items    : initial;
  margin-bottom  : 20px;
}

/* Search */
.search-bar {
  width        : 60%;
  border       : 1px solid var(--gray-color);
  border-radius: 5px;
  height       : 45px;
  /* display   : flex; */
  align-items  : center;
  overflow-x   : hidden;
  margin-bottom: 10px;
}

.search-bar input {
  background: var(--gray-color);
  height    : 100%;
  width     : 100%;
  padding   : 5px;
  border    : none;
  outline   : none;
}

/* block */
.block {
  padding        : 10px;
  display        : flex;
  justify-content: space-between;
  align-items    : center;
}


.datetime .form-datetime span {
  color      : black;
  font-weight: 500;
  font-size  : 16px;
}

.form-datetime input {
  cursor: pointer;
}

.start-time {
  margin-right: 15px;
  border      : none;
  outline     : none;
  font-size   : 16px;
  opacity     : 0.6;
}

.end-time {
  border   : none;
  outline  : none;
  font-size: 16px;
  opacity  : 0.6;
}

/* Buttun Create Campaign */
.block {
  padding        : 10px;
  display        : flex;
  justify-content: space-between;
  align-items    : center;
}

.right .two-button {
  display: flex;
}

.export {
  background-color: var(--blue-main-color);
  border          : none;
  color           : white;
  border-radius   : 5px;
  padding         : 13px 35px;
  text-align      : center;
  text-decoration : none;
  display         : inline-block;
  font-size       : 15px;
  margin          : 4px 5px;
  cursor          : pointer;
  font-weight     : 500;
}

.Campaign-btn Button {
  background-color: var(--blue-main-color);
  border          : none;
  color           : white;
  border-radius   : 5px;
  padding         : 13px 22px;
  text-align      : center;
  text-decoration : none;
  display         : inline-block;
  font-size       : 15px;
  margin          : 4px 5px;
  cursor          : pointer;
  font-weight     : 500;
}

.Campaign-btn Button:hover {
  background-color: var(--blue-main-color);
}

/* ---------------Modal------------ */
.Campaign-Model {
  width: 100vw;
}

.modal {
  --bs-modal-width: 50% !important;
}

.modal-content {
  width: 60vw !important;
}

.Shared {
  display        : flex;
  justify-content: space-between;
  padding        : 10px;
  align-items    : center;
  margin         : 20px 0;
}

.Shared input {
  width        : 60%;
  height       : 45px;
  border-radius: 5px;
}

.Shared span {
  margin-right: 20px;
}

.input-name input:hover {
  background: #DDDDDD;
}

.Shared .vali-form {
  width        : 60%;
  height       : 45px;
  border-radius: 5px;
}

.Shared .vali-form input {
  width: 100%;
}

.accordion-button {
  background-color: var(--blue-main-color) !important;
}

.accordion-button:not(.collapsed) {
  color: black !important;
}

.dropdown-active {
  width: 60%;
}

.dropdown-active select {
  width        : 100%;
  height       : 45px;
  border-radius: 5px;
}

.accordion-body {
  padding: 22px 27px !important;
}

.btn-secondary {
  width          : 100%;
  height         : 45px;
  display        : flex !important;
  justify-content: space-between;
  align-items    : center;
  margin-top     : 5px;
}

.active-btn {
  color     : black;
  background: #fff;
}

.datetime {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
}

.sche-datetime {
  display: flex;
}

.form-modal-datetime span {
  color      : black;
  font-size  : 15px;
  font-weight: 500;
}

/* Upload */
.Shared .onchange-file { 
  padding         : 5px;
  width           : 60%;
  height          : 55px;
  background-color: white;
  border          : 2px solid black;
  border-radius   : 5px;
}

.final-url {
  margin-top: 120px;
}

.preview-banner {
  height         : 100px;
  width          : 100%;
  border         : 1px solid gray;
  background     : center center no-repeat;
  cursor         : pointer;
  background-size: contain;
}

.campaign-li {
  display        : flex;
  align-items    : center;
  justify-content: center;
  height         : 100%;
}

/* save button */
.save-btn button {
  background: var(--blue-main-color);
  border    : none;
  width     : 80px;
  height    : 45px;
  margin-top: 5px;
}

/* cancel button */
.cancel-btn button {
  color           : black;
  background-color: #fff;
}

/* Table */
.campaign-name {
  display    : flex;
  float      : left;
  align-items: center;
  height     : 100%;
}

/* page-btn */
.page-navigation {
  text-align: center;
}

.page-navigation-btn {
  color      : var(--blue-main-color);
  font-weight: 700;
  padding    : 10px;
}

.page-navigation-btn span {
  margin-left : 10px;
  margin-right: 10px;
}

.page-navigation-btn button {
  padding      : 5px 15px;
  border       : none;
  border-radius: 5px;
  background   : white;
  color        : var(--blue-main-color);
}

.page-navigation-btn button:hover {
  cursor    : pointer;
  opacity   : 0.8;
  transition: 0.5s;
}

@media only screen and (max-width: 1200px) {
  .wrapper .main {
    width      : (100% - 80px);
    margin-left: 80px;
  }

  .main .block {
    display: block;
  }

  .block .datetime {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1045px) {
  .datetime {
    display: block;
  }
}

