.wrapper {
    > h2 {
        font-size: 2.4rem;
        font-weight: 700;
        text-align: center;
        margin: 20px;
    }
}

.schedule {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin: 12px 0;
    background-color: white;
}

.info {
    display: flex;
    // align-items: center;
    justify-content: flex-start;
}

.image {
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    span {
        color: rgb(122, 122, 122);
        font-weight: 500;
    }
}

.detail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6px;
    margin: 16px 0 0 16px;
    align-items: flex-start;

    h3 {
        font-size: 16px;
        font-weight: 800;
        color: var(--second);
    }

    p {
        &:first-child {
            text-decoration: underline;
        }

        &:nth-child(2) {
        }
    }
}

.booking {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
    margin: 16px 16px 0 0;

    p {
        &:first-child {
        }

        &:nth-child(2) {
            color: var(--second);
            font-weight: 700;
            font-size: 1.8rem;
        }
    }

    button {
        padding: 10px 16px;
        background-color: var(--second);
        color: white;
        font-size: 1.4rem;
        font-weight: 600;
        border-radius: 6px;
        cursor: pointer;

        &:hover {
            background-color: #881919;
        }

        &:disabled {
            pointer-events: none;
            opacity: 0.5;
        }
    }
}

.timeType {
    // border       : 2px solid var(--primary);
    border-radius: 4px;
    display: inline;
    background: #344d67;
    padding: 6px 12px;
    font-weight: 500;
    color: #fffbc1;
}

.status {
    padding: 0.4rem 0.6rem;
    font-size: 1.4rem;
    color: white;
    border-radius: 8px;
}

.inprogress {
    background-color: rgb(247, 196, 28);
}

.done {
    background-color: var(--success);
}

.confirm-email{
    background-color: #dc3545;
}