.wrapper {
    > h2 {
        font-size: 2.4rem;
        font-weight: 700;
        text-align: center;
        margin: 20px;
    }
}

.search {
    padding: 0 40px;

    h3 {
        margin: 2px 0;
        font-weight: 600;
    }
}

.datepicker {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin: 0 0 16px 0;

    div {
        &:first-child {
            display: inline-block;
            width: 400px;
        }

        input {
            font-size: 1.4rem;
        }
    }
}

.searchBtn {
    padding: 10px 14px;
    background-color: var(--second);
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 6px;
    margin: 10px;
    cursor: pointer;

    &:hover {
        background-color: #881919;
    }

    &:disabled {
        pointer-events: none;
    }
}

.place {
    padding: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    p {
        width: 160px;
        font-weight: 600;
    }

    div {
        width: 400px;
    }
}

.content {
    background-color: white;
    border-radius: 20px;
}

.result {
    margin-top: 50px;
    background-color: #e4e7ed;
    padding: 0 40px 40px 40px;

    h3 {
        font-size: 1.6rem;
        font-weight: 700;
        color: var(--second);
        padding-top: 20px;
    }
}

.schedule {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin: 12px 0;
    background-color: white;
}

.info {
    display: flex;
    // align-items: center;
    justify-content: flex-start;
}

.image {
    height: 180px;
    width: 180px;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}

.detail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6px;
    margin: 16px 0 0 16px;
    align-items: flex-start;

    h3 {
        font-size: 16px;
        font-weight: 800;
        color: var(--second);
    }

    p {
        &:first-child {
            text-decoration: underline;
        }

        &:nth-child(2) {
        }
    }
}

.booking {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
    margin: 16px 16px 0 0;

    p {
        &:first-child {
        }

        &:nth-child(2) {
            color: var(--second);
            font-weight: 700;
            font-size: 1.8rem;
        }
    }

    button {
        padding: 10px 16px;
        background-color: var(--second);
        color: white;
        font-size: 1.4rem;
        font-weight: 600;
        border-radius: 6px;
        cursor: pointer;

        &:hover {
            background-color: #881919;
        }

        &:disabled {
            pointer-events: none;
            opacity: 0.5;
        }
    }
}

.timeType {
    // border       : 2px solid var(--primary);
    border-radius: 4px;
    display: inline;
    background: #344d67;
    padding: 6px 12px;
    font-weight: 500;
    color: #fffbc1;
}
