.md-title {
    font-size: 20px;
    font-weight: 500;
}

.form-group {
    margin: 12px 0;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.4rem;
    label {
        width: 40%;
    }

    input {
        padding: 12px;
        border: 1px solid #cecece;
        border-radius: 5px;
        outline: none;
        width: 100%;
    }
}

